body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(19, 19, 19);

}

.container {
    background-color: #fff;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    max-width: 450px;
    outline: none;
}

#calculateButton {
    background-color: rgb(216, 78, 165);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 470px;
    font-size: 16px;
    font-weight: 500;
}

#calculateButton:hover {
    opacity: 0.7;
}


#clearButton {
    background-color: lightblue;
    margin-top: 5px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 470px;
    font-size: 16px;
    font-weight: 500;
}

#clearButton:hover {
    opacity: 0.7;
}

#result {
    padding-top: 10px;
}


#error {
    color: red;
    padding-top: 10px;
}


@media screen and (min-width: 412px) {
    .container {
        background-color: #fff;
        border-radius: 8px;
        max-width: 500px;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}